@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@100;200;300;400;500;600;800;900&display=swap);


@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
	width: 0;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;

}

:root {
	font-size: 20px;
	--main-bg:#121026;
	--primaryColor:#b1147d;
	--sidebar-bg:#19162c;
	--sidebar-toggle:#30295a;
	--secondaryText:#8c8a95;
	--headerInputBg:#19162c;
	--headerUsername:#d0cfd0;
	--dropdown-color:#757380;
	--inputsbg:#30295a;
	--inputsText:#d0cfd0;
	--formBtn:#4f477e;
	--inputBorder:#4864a6;
	--inputInside:#3c4f7e;
	--form-btn:#3d546f;
	--shadow:0px 0px 20px rgba(0, 0, 0, 0.4);
	--dropdown-hover:#121026;
	--profileBg:rgb(22, 19, 55);
}

.input-box {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(12.5rem, 1fr) );
  grid-template-rows: auto ;
  padding: 1rem;
  /* column-gap: 1rem; */
  /* row-gap: 1rem; */
  margin: 1rem;
}

ul,li {
	margin: 0;
	padding: 0;
	display: block;
}

a {
	transition: .3s all;
	outline: none;
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

h1, h2, h3, h4, h5, p {
	margin: 0;
}

html {
	scroll-behavior: smooth;
  overflow-x: hidden;

}

.App {
  width: 100%;
  height: 100vh;
  background: var(--main-bg);
  display: flex;
  overflow: hidden;
}

.App::-webkit-scrollbar {
  display: none;
}


.light {
	--main-bg:#fff;
	--primaryColor:#212121;
	--sidebar-bg:#faf9fa;
	--sidebar-toggle:#d0cfd0;
	--secondaryText:#aaa;
	--headerInputBg:#faf9fa;
	--headerUsername:#d0cfd0;
	--dropdown-color:#212121;
	--inputsbg:#ecececaa;
	--inputsText:#212121;
	--formBtn:#212121;
	--inputBorder:#4864a6;
	--inputInside:#f5efef;
	--shadow:0px 0px 5px rgba(0, 0, 0, 0.4);
	--dropdown-hover:#aaa;
	--profileBg:rgba(255, 255, 255, 0.5);
}

.light-green {
	--main-bg:#fff;
	--primaryColor:#32CD32;
	--sidebar-bg:#faf9fa;
	--sidebar-toggle:#d0cfd0;
	--secondaryText:#212121;
	--headerInputBg:#faf9fa;
	--headerUsername:#d0cfd0;
	--dropdown-color:#212121;
	--inputsbg:#ecececaa;
	--inputsText:#212121;
	--formBtn:#32CD32;
	--inputBorder:#32CD32;
	--inputInside:#fff;
	--shadow:0px 0px 5px rgba(0, 0, 0, 0.4);
	--dropdown-hover:#e4e3e4;
}

.light-purple {
	--main-bg:#fff;
	--primaryColor:#b1147d;
	--sidebar-bg:#faf9fa;
	--sidebar-toggle:#d0cfd0;
	--secondaryText:#212121;
	--headerInputBg:#faf9fa;
	--headerUsername:#d0cfd0;
	--dropdown-color:#212121;
	--inputsbg:#ecececaa;
	--inputsText:#212121;
	--formBtn:#b1147d;
	--inputBorder:#212121;
	--inputInside:#fff;
	--shadow:0px 0px 5px rgba(0, 0, 0, 0.4);
	--dropdown-hover:#e4e3e4;

}

.light-blue {
	--main-bg:#fff;
	--primaryColor:#89CFF0;
	--sidebar-bg:#faf9fa;
	--sidebar-toggle:#d0cfd0;
	--secondaryText:#212121;
	--headerInputBg:#faf9fa;
	--headerUsername:#d0cfd0;
	--dropdown-color:#212121;
	--inputsbg:#ecececaa;
	--inputsText:#212121;
	--formBtn:#89CFF0;
	--inputBorder:#4864a6;
	--inputInside:#fff;
	--shadow:0px 0px 5px rgba(0, 0, 0, 0.4);
	--dropdown-hover:#fff;
}



.dark {
	--main-bg:#212121;
	--primaryColor:#aaa;
	--sidebar-bg:#000;
	--sidebar-toggle:rgba(255, 255, 255, 0.2);
	--secondaryText:#727272;
	--headerInputBg:#3d3c3c;
	--headerUsername:#ffff;
	--dropdown-color:#fff;
	--inputsbg:#000	;
	--inputsText:#212121;
	--formBtn:#212121;
	--inputBorder:#4864a6;
	--inputInside:#c2c1be	;
	--form-btn:#212121;
	--shadow:0px 0px 20px rgba(0, 0, 0, 0.4);
	--dropdown-hover:#212121;
	--profileBg:rgb(24, 24, 24);

}


.dark-purple{
	--main-bg:#212121;
	--primaryColor:#b1147d;
	--sidebar-bg:#000;
	--sidebar-toggle:#30295a;
	--secondaryText:#fff;
	--headerInputBg:#3d3c3c;
	--headerUsername:#ffff;
	--dropdown-color:#fff;
	--inputsbg:#000	;
	--inputsText:#212121;
	--formBtn:#212121;
	--inputBorder:#b1147d;
	--inputInside:#c2c1be	;
	--form-btn:#212121;
	--shadow:0px 0px 20px rgba(0, 0, 0, 0.4);
	--dropdown-hover:#212121;

}
.dark-green {
	--main-bg:#212121;
	--primaryColor:#32CD32;
	--sidebar-bg:#000;
	--sidebar-toggle:#30295a;
	--secondaryText:#fff;
	--headerInputBg:#3d3c3c;
	--headerUsername:#ffff;
	--dropdown-color:#fff;
	--inputsbg:#000	;
	--inputsText:#212121;
	--formBtn:#32CD32;
	--inputBorder:#32CD32;
	--inputInside:#c2c1be	;
	--form-btn:#212121;
	--shadow:0px 0px 20px rgba(0, 0, 0, 0.4);
	--dropdown-hover:#212121;
}

.dark-blue {
	--main-bg:#212121;
	--primaryColor:#89CFF0;
	--sidebar-bg:#000;
	--sidebar-toggle:#30295a;
	--secondaryText:#fff;
	--headerInputBg:#3d3c3c;
	--headerUsername:#ffff;
	--dropdown-color:#fff;
	--inputsbg:#000	;
	--inputsText:#212121;
	--formBtn:#89CFF0;
	--inputBorder:#32CD32;
	--inputInside:#c2c1be	;
	--form-btn:#212121;
	--shadow:0px 0px 20px rgba(0, 0, 0, 0.4);
	--dropdown-hover:#212121;
}


.blue {
	--main-bg:#02023a;
	--primaryColor:#89CFF0;
	--sidebar-bg:#191970;
	--sidebar-toggle:#0505b5;
	--secondaryText:#fff;
	--headerInputBg:#191970;
	--headerUsername:#d0cfd0;
	--dropdown-color:#fff;
	--inputsbg:#191970;
	--inputsText:#212121;
	--formBtn:#89CFF0;
	--inputBorder:#4864a6;
	--inputInside:#a5def9;
	--shadow:0px 0px 5px rgba(0, 0, 0, 0.4);
	--dropdown-hover:#373535;
	--profileBg:rgba(26, 24, 84, 0.92);

}


.btn1 {
	text-decoration: none;
	font-size: 0.7rem;
	color: #fff;
	font-weight: 600;
	background-image: linear-gradient(#ff21bc, #b21783);
	padding: 0.25rem 0.75rem;
	border-radius: 0.5em;
	text-transform: uppercase;
	box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.4), inset -5px -10px 10px #b1147d;
	margin-right: 0.5rem;
	cursor: pointer;
}

.btn2 {
	text-decoration: none;
  font-size: 0.7rem;
  font-weight: bold;
  color: #d1d0d5;
  border: 2px solid #443b78;
  padding: 5px 0.75rem;
  border-radius: 0.5rem;
  margin: 0rem 0.2rem;
}



// media 

@media only screen and (max-width: 525px) {
  .App {
    overflow-x: hidden;
    overflow-y: scroll;
  }
}
@media (max-width: 1400.98px) {

	:root {
		font-size: 17px;
	}

}
@media (max-width: 1200.98px) {

	:root {
		font-size: 15px;
	}
}

@media (max-width: 992.98px) {

	:root {
		font-size: 13px;
	}
}

@media (max-width: 767.98px), (max-width: 1080px) and (orientation: portrait) {
	:root {
		font-size: 18px;
	}
}

@media (max-width: 767.98px) {
	:root {
		font-size: 16px;
	}
}

@media (max-width: 300.98px) {
	:root {
		font-size: 10px;
	}
}

