.menu {
  transition: all 0.4s;
  width: 5rem;
  height: 100%;
  background: var(--sidebar-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  position: relative;

  &-toggle{
    position: absolute;
     top: 6rem;  
     border-radius: 50%;
     background: var(--sidebar-toggle);
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

  }

  img{
    width: 3em;
    padding-top:1.5rem;
  }
  ul {
    padding-top: 3.9rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    li{
      list-style: none;
      margin: 1.5rem 0rem;
      position: relative;
      color: var(--secondaryText);
      width: 100%;
      text-align: center;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      

      &:hover .perview_navItem{
        background: #30295a;
        color: white !important;
        display: inline;
        position: absolute;
        top: -0.2rem;
        right: -70%;
        padding: 0.3rem;
        border-radius: 0.2rem;
      }

      &:hover a,   &:hover span{
        color: var(--primaryColor);
      }

      a, span{
        font-size: 1.2rem;
        color: var(--secondaryText);
        text-decoration: none;
        transition: all .3s;
        &::before{
          position: absolute;
          content: '';
          top: 0.25rem;
          left: -0.5rem;
          width: 0rem;
          height: 1rem;
          background: var(--primaryColor);
          border-radius: 50%;

        }
      }
      .perview_navItem, 
      span{
        font-size: .8rem;
        margin-left: 1rem;
        z-index: 99;
        transition:all .5s ease;
        display: none;
      }
    }

    li.active a, li.active span {
      color: var(--primaryColor);
    }
    
   
  }
 
  &-lastNavigation{
    margin-top: auto;
  }

}
.menu-active{
  width: 14rem;
  .menu-toggle{
    top: 5vh;
    right: -5%;
  }
  ul {
    padding-top: 1.2rem;
    padding-left:0.5rem; 
    li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
   
    span{
      display: inline !important;
    }

    &:hover{
      .perview_navItem{
        display: none;
      }
    }


    }
  }
}

@media (max-width:525px) {
  .menu {
    padding:0rem 0.5rem ;
    min-width: 3.4rem;
    width: 3.4rem;
  } 
  
  .menu-active {
    width: 10rem;
    min-width: 10rem;
    
  }
}